<% if @articlee.errors.any? %>
        <h2>The following errors prevented the article from being saved</h2>
        <ul>
        <% @articlee.errors.full_messages.each do |msg| %>
        <li> <%= msg %></li>
        <% end %>
        </ul>
<% end %>